<p-button 
    label="Adicionar Novo Livro" 
    icon="pi pi-plus" 
    styleClass="p-button p-button-sm"
    (onClick)="visible = true"
    [disabled]="!isLoggedIn" />

<p-dialog header="{{ livroParaEditar ? 'Editar Livro' : 'Adicionar Novo Livro' }}" [modal]="true" [visible]="visible" (visibleChange)="visibleChange.emit($event)" [style]="{ width: '50vw', height: '28vw' }">
    <div>
        <form (ngSubmit)="createBook()" #bookForm="ngForm" class="create-book-form">
            <div class="form-rows">
                <div class="column">
                    <div class="form-row">
                        <p-floatLabel>
                            <input pInputText id="titulo" name="titulo" [(ngModel)]="bookTitle" required class="input-full" />
                            <label for="titulo">Título</label>
                        </p-floatLabel>
                    </div>
                    <div class="form-row">
                        <p-floatLabel>
                            <input pInputText id="autor" name="autor" [(ngModel)]="bookAuthor" required class="input-full" />
                            <label for="autor">Autor</label>
                        </p-floatLabel>
                    </div>
                    <div class="form-row">
                        <p-floatLabel>
                            <input pInputText id="isbn" name="isbn" [(ngModel)]="bookIsbn" required class="input-full" />
                            <label for="isbn">ISBN</label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="column">
                    <div class="form-row">
                        <p-floatLabel>
                            <input pInputText id="ano" name="ano" [(ngModel)]="bookYear" type="number" required class="input-full" />
                            <label for="ano">Ano de Publicação</label>
                        </p-floatLabel>
                    </div>
                    <div class="form-row">
                        <p-floatLabel>
                            <input pInputText id="quantidade" name="quantidade" [(ngModel)]="bookQuantity" type="number" required class="input-full" />
                            <label for="quantidade">Quantidade</label>
                        </p-floatLabel>
                    </div>
                    <div class="form-row">
                        <p-floatLabel>
                            <input pInputText id="preco" name="preco" [(ngModel)]="bookPrice" type="number" step="0.01" required class="input-full" />
                            <label for="preco">Preço</label>
                        </p-floatLabel>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button pButton icon="pi pi-times action-item" label="Cancelar" (click)="closeDialog()" class="btn-cancelar" type="button"></button>
                <button pButton icon="pi pi-plus action-item" type="submit" [label]="livroParaEditar ? 'Salvar' : 'Adicionar Novo Livro'" class="btn-salvar" styleClass="p-button-success"></button>
            </div>
        </form>
    </div>
    <div *ngIf="loading" class="loading-overlay">
      <p-progressSpinner></p-progressSpinner>
    </div>
</p-dialog>

